.color-red {
	color:red;
}

input.error {
	border:1px solid red;	
}
select.error {
	border:1px solid red;	
}
span.error {
	color:red;
	float:right;
	display:block;	
}

body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 13px;
    color:#333
}

p {
    padding: 10px;
}

#wrapper {
    margin: 0 auto;
    width: 1000px;
}

#header {
    float: left;
    height: 75px;
    width: 1000px;
    background: #255E45;
    text-align: center;
}

#navigation {
    float: left;
    height: 40px;
    width: 1000px;
    background: #255E45;
}

#content {
    float: left;
    background: #FFFFFF;
    width: 1000;
}

#footer {
    height: 40px;
    width: 1000px;
    background: #255E45;
    clear: both;
}
#footer a {
text-decoration: none;
color: white;
}

ul {
    list-style-type: none;
    text-align: center;
    
}

li {
    display: inline;
    padding: 20px;
}

#navigation a {
text-decoration: none;
color: white;
}
#header h1{
	color: white;
}
#navigation a:hover{
	text-decoration: underline;
}

